.container {
  text-align: center;
}
table {
  margin: auto;
}
input {
  height: 45px;
  width: 239px;
  font-size: 2rem;
  width: 250px;
  border-radius: 14px;
  border: 3px solid black;
  margin-top: 7px;
  margin-bottom: 7px;
}
.btn {
  width: 62px;
  height: 45px;
  font-size: 1.5rem;
  border-radius: 14px;
  /* border: 3px; */
  background-color: rebeccapurple;
  color: #fff;
}
.calcu {
  border: 3px solid black;
  display: inline-block;
  padding: 7px;
  border-radius: 10px;
}
